* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  align-content: center;
  justify-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  width: 150px;
  height: 150px;
  margin: 1rem;
  cursor: pointer;
}

.transition-box-1 {
  background-color: pink;
  transition: width 2s ease-in-out;
}

.transition-box-1:hover {
  width: 300px;
}

.transition-box-2 {
  background-color: rgb(192, 192, 192);
  transition: height 2s ease-in-out;
}

.transition-box-2:hover {
  height: 300px;
}

.transition-box-3 {
  background-color: #d8a0f1;
  transition: width 2s ease-in-out, height 2s ease-in-out;
}

.transition-box-3:hover {
  width: 300px;
  height: 300px;
}
